<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>ZipifyBanners</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_bundle_tag 'application' %>
  </head>
  <body>
    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: @shop_origin || (@current_shopify_session.domain if @current_shopify_session),
      debug: Rails.env.development?
    } ) %>
    <%= yield %>
    <%= javascript_bundle_tag 'application', defer: true %>
  </body>
</html>
